@model ModelEF.Model.NguoiNuocNgoai

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng kí tài khoản người nước ngoài</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Assets/Client/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Assets/Client/images/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="~/Assets/Client/css/bootstrap.css" rel="stylesheet">
    <link href="~/Assets/Client/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/Client/style.css" rel="stylesheet">
    <link href="~/Assets/Client/css/text.css" rel="stylesheet">
    <link href="~/Assets/Client/css/text1.css" rel="stylesheet">
    <link href="~/Assets/Client/css/text2.css" rel="stylesheet">
    <link href="~/Assets/Client/css/text3.css" rel="stylesheet">
    <link href="~/Assets/Client/css/responsive.css" rel="stylesheet">
    <link href="~/Assets/Client/css/colors.css" rel="stylesheet">
    <link href="~/Assets/Client/css/version/tech.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>

    <div id="wrapper">


        <header class="tech-header header">
            <div>
                <img class="w-25 w-50 w-75 w-100 w-auto mw-100  mt-5  " src="/Assets/Client/images/bg_header_vin.jpg" height="250" alt="">

            </div>
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="tech-index.html"><img src="/Assets/Client/images/version/tech-logo.png" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","NguoiDung")">Home</a>
                            </li>
                            <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News</a>
                                <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                    <li>
                                        <div class="container">
                                            <div class="mega-menu-content clearfix">
                                                <div class="tab">
                                                    <button class="tablinks active" onclick="openCategory(event, 'cat01')">Science</button>
                                                    <button class="tablinks" onclick="openCategory(event, 'cat02')">Technology</button>
                                                    <button class="tablinks" onclick="openCategory(event, 'cat03')">Social Media</button>
                                                    <button class="tablinks" onclick="openCategory(event, 'cat04')">Car News</button>
                                                    <button class="tablinks" onclick="openCategory(event, 'cat05')">Worldwide</button>
                                                </div>

                                                <div class="tab-details clearfix">
                                                    <div id="cat01" class="tabcontent active">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_01.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Science</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">Top 10+ care advice for your toenails</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_02.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Science</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">The secret of your beauty is handmade soap</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_03.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Science</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">Benefits of face mask made from mud</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_04.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Science</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">Relax with the unique warmth of candle flavor</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>
                                                        </div> end row
                                                    </div>
                                                    <div id="cat02" class="tabcontent">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_05.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Technology</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">2017 summer stamp will have design models here</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_06.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Technology</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">Which color is the most suitable color for you?</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_07.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Technology</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">Subscribe to these sites to keep an eye on the fashion</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_08.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Technology</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">The most trends of this year with color combination</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>
                                                        </div> end row
                                                    </div>
                                                    <div id="cat03" class="tabcontent">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_09.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Social Media</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">I visited the architects of Istanbul for you</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_10.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Social Media</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">Prepared handmade dish dish in the Netherlands</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_11.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Social Media</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">I recommend you visit the fairy chimneys</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_12.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Social Media</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">One of the most beautiful ports in the world</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>
                                                        </div> end row
                                                    </div>
                                                    <div id="cat04" class="tabcontent">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_13.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Car News</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">A collection of the most beautiful shop designs</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_14.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Car News</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">America's and Canada's most beautiful wine houses</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_15.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Car News</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">The most professional ways to color your walls</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_16.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Car News</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">Stylish cabinet designs and furnitures</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>
                                                        </div> end row
                                                    </div>
                                                    <div id="cat05" class="tabcontent">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_17.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Worldwide</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">Grilled vegetable with fish prepared with fish</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_18.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Worldwide</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">The world's finest and clean meat restaurants</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_19.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Worldwide</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">Fried veal and vegetable dish</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="tech-single.html" title="">
                                                                            <img src="/Assets/Client/upload/tech_menu_20.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div> end hover
                                                                            <span class="menucat">Worldwide</span>
                                                                        </a>
                                                                    </div> end media
                                                                    <div class="blog-meta">
                                                                        <h4><a href="tech-single.html" title="">Tasty pasta sauces and recipes</a></h4>
                                                                    </div> end meta
                                                                </div> end blog-box
                                                            </div>
                                                        </div> end row
                                                    </div>
                                                </div> end tab-details
                                            </div> end mega-menu-content
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Gadgets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Videos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-2 ">
                            <li class="nav-item dropdown has-submenu hidden-md-down hidden-sm-down hidden-xs-down mr-5">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i> Tài khoản</a>
                                <ul class="dropdown-menu  " aria-labelledby="dropdown01">
                                    <li><a href="#" class="ml-1 p-2"><i class=" fa fa-suitcase"></i> <span class="ml-1 p-2">Cập nhật thông tin </span> </a></li>
                                    <li><a href="@Url.Action("Create", "NguoiDung")" class="ml-1 p-2"><i class="fa fa-user-plus"></i> <span class="ml-1 p-2">Đăng kí tài khoản NNN</span>  </a></li>

                                    <li><a href="@Url.Action("Index", "LuuTrus")" class="ml-1 p-1"><i class=" fa fa-suitcase"></i> <span class="ml-1 p-2">Cập nhật thông tin đến/đi </span> </a></li>

                                    <li>
                                        <a href="#" class="ml-1 p-2">
                                            <i class="fa fa-sign-out"></i>  <span class="ml-1 p-2">Thoát</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>



                </nav>
            </div>

        </header>

    </div>
    
    <div class="page-title mt-0 pt-2">
        <div class="container mt-0 ">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumbstyle clearfix text-uppercase ">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","NguoiDung")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Đăng kí tài khoản NNN</li>
                    </ul>
                </div>
            </div>
        </div>
       
        <section class="section md p-4">
            <h2 class="text-center pb-5 ">Website Quản Lý Người Nước Ngoài Tại Thành Phố Đà Nẵng</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-12 justify-content-center mx-auto text-center">
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="AlertBox" class="alert @TempData["AlertType"] hide bg-info">
                            @TempData["AlertMessage"]
                        </div>
                    }
                </div>
                <div>
                    <h4 class="col-8 ml-5">Đăng Kí Tài Khoản Người Nước Ngoài</h4>
                </div>
                <div class="col-md-8 justify-content-center mx-auto">
                    <div class="row pt-5">
                        <ul class="col-md-6 pl-5 ">
                            <div class="row  ">
                                <div class="col-lg-3 ">
                                    <h4>Mã Hộ Chiếu</h4>
                                </div>
                                <div class="col-lg-3 ml-5">
                                    <a class="abc">
                                        @Html.EditorFor(model => model.MaTKNNN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mời nhập mã hộ chiếu" } })
                                        @Html.ValidationMessageFor(model => model.MaTKNNN, "", new { @class = "text-danger" })
                                        @if (ViewBag.error != null)
                                        {@ViewBag.error}
                                    </a>
                                </div>
                            </div>
                        </ul>
                        <ul class="col-md-6 ">
                            <div class="row  ">
                                <div class="col-lg-3 mr-4 ">
                                    <h4>Số điện thoại</h4>
                                </div>
                                <div class="col-lg-3 ml-5">
                                    <a class="abcd">
                                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mời nhập số điện thoại" } })
                                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                    </a>
                                </div>

                            </div>
                        </ul>
                    </div>


                    <div class="row pt-0">
                        <ul class="col-md-6 pl-5 ">
                            <div class="row  ">
                                <div class="col-lg-3 ">
                                    <h4>Mật Khẩu</h4>
                                </div>
                                <div class="col-lg-3 ml-5">
                                    <a class="abc">
                                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mời nhập mật khẩu" } })
                                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                    </a>
                                </div>
                            </div>
                        </ul>
                        <ul class="col-md-6 ">
                            <div class="row  ">
                                <div class="col-lg-3 mr-4 ">
                                    <h4>Email</h4>
                                </div>
                                <div class="col-lg-3 ml-3">
                                    <a class="abc">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mời nhập Email" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </a>
                                </div>

                            </div>
                        </ul>
                    </div>
                    <div class="row pt-0">
                        <ul class="col-md-6 pl-5 ">
                            <div class="row  ">
                                <div class="col-lg-3 ">
                                    <h4>Họ Tên</h4>
                                </div>
                                <div class="col-lg-3 ml-5 mr-2">
                                    <a class="abc">
                                        @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mời nhập họ tên" } })
                                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                                    </a>
                                </div>
                            </div>
                        </ul>
                        <ul class="col-md-6 ">
                            <div class="row  ">
                                <div class="col-lg-3 mr-4 ">
                                    <h4>Địa chỉ thường trú</h4>
                                </div>
                                <div class="col-lg-3 ml-5">
                                    <a class="abcd">
                                        @Html.EditorFor(model => model.DiachiTT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mời nhập địa chỉ thường trú" } })
                                        @Html.ValidationMessageFor(model => model.DiachiTT, "", new { @class = "text-danger" })
                                    </a>
                                </div>

                            </div>
                        </ul>
                    </div>
                    <div class="row pt-0">
                        <ul class="col-md-6 pl-5 ">
                            <div class="row  ">
                                <div class="col-lg-3 ">
                                    <h4>Ngày Sinh</h4>
                                </div>
                                <div class="col-lg-3 ml-5">
                                    <a class="abc">
                                        @Html.TextBoxFor(model => model.NgaySinh, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                    </a>
                                </div>
                            </div>
                        </ul>
                        <ul class="col-md-6 ">
                            <div class="row  ">
                                <div class="col-lg-3 mr-4 ">
                                    <h4>Quốc tịch</h4>
                                </div>
                                <div class="col-lg-3 ml-5">
                                    <a class="abcd">
                                        @Html.EditorFor(model => model.QuocTich, new { htmlAttributes = new { @class = "form-control", @placeholder = "yêu cầu nhập quốc tịch" } })
                                        @Html.ValidationMessageFor(model => model.QuocTich, "", new { @class = "text-danger" })
                                    </a>
                                </div>

                            </div>
                        </ul>
                    </div>
                    <div class="row pt-0">
                        <ul class="col-md-6 pl-5 ">
                            <div class="row  ">
                                <div class="col-lg-3 ">
                                    <h4>Passport</h4>
                                </div>
                                <div class="col-lg-3 ml-5">
                                    <a class="abc">
                                        @Html.EditorFor(model => model.Passport, new { htmlAttributes = new { @class = "form-control", @placeholder = "yêu cầu nhập passport" } })
                                        @Html.ValidationMessageFor(model => model.Passport, "", new { @class = "text-danger" })
                                    </a>
                                </div>
                            </div>
                        </ul>
                        <ul class="col-md-6 ">
                            <div class="row  ">
                                <div class="col-lg-3 mr-4 ">
                                    <h4>Giới tính</h4>
                                </div>
                                <div class="col-lg-3 ml-5 ">
                                    <div>
                                        <a class="column is-one-fifth">
                                            @Html.DropDownList("GioiTinh", new List<SelectListItem>
                                                    {
                                                        new SelectListItem
                                                        {
                                                            Text = "Nam", Value = "Nam"
                                                        },
                                                        new SelectListItem
                                                        {
                                                            Text = "Nữ", Value = "Nữ"
                                                        }
                                                    })
                                        </a>


                                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="row pt-0">
                        <ul class="col-md-6 pl-5 ">
                            <div class="row  ">
                                <div class="col-lg-3 ">
                                    <h4>Mã TK người dùng</h4>
                                </div>
                                <div class="col-lg-3 ml-5">
                                    <a class="abc">
                                        @Html.DropDownList("MaTKND", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaTKND, "", new { @class = "text-danger" })
                                    </a>
                                </div>
                            </div>
                        </ul>

                    </div>
                </div>

                <div class="buton p-5">
                    <button type="submit" class="btnn btn-primary">Đăng Kí </button>
                </div>
            }
        </section>






    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="widget">
                        <div class="footer-text text-left">
                            <a href="index.html"><img src="/Assets/Client/images/version/tech-footer-logo.png" alt="" class="img-fluid"></a>
                            <p>Tech Blog is a technology blog, we sharing marketing, news and gadget articles.</p>
                            <div class="social">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </div>

                            <hr class="invis">

                            <div class="newsletter-widget text-left">
                                <form class="form-inline">
                                    <input type="text" class="form-control" placeholder="Enter your email address">
                                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                                </form>
                            </div> e
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h2 class="widget-title">Popular Categories</h2>
                        <div class="link-widget">
                            <ul>
                                <li><a href="#">Marketing <span>(21)</span></a></li>
                                <li><a href="#">SEO Service <span>(15)</span></a></li>
                                <li><a href="#">Digital Agency <span>(31)</span></a></li>
                                <li><a href="#">Make Money <span>(22)</span></a></li>
                                <li><a href="#">Blogging <span>(66)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h2 class="widget-title">Copyrights</h2>
                        <div class="link-widget">
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Advertising</a></li>
                                <li><a href="#">Write for us</a></li>
                                <li><a href="#">Trademark</a></li>
                                <li><a href="#">License & Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <div class="copyright">&copy; Tech Blog. Design: <a href="http://html.design">HTML Design</a>.</div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Assets/Client/js/jquery.min.js"></script>
    <script src="~/Assets/Client/js/tether.min.js"></script>
    <script src="~/Assets/Client/js/bootstrap.min.js"></script>
    <script src="~/Assets/Client/js/custom.js"></script>
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css” />
    <script src=”https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js”></script>
    <script src=”https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js”></script>
    <script src=”https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js”></script>
    <script>
        $('#AlertBox').removeClass("hide");
        $('#AlertBox').delay(3000).slideUp(500);
    </script>
</body>
</html>




